@import url("https://fonts.googleapis.com/css2?family=Bitter:wght@800&family=Poppins:wght@200;300;400;500;600;700&family=Quicksand:wght@500;600;700;800&display=swap");
@font-face{
  font-family: Storytella;
  src: url("fonts/Storytella.otf");
}

:root {
  --primary-color: #42093f;
  --secondary-color: #80a316;
  --primary-color-600: #e016d7;
}
html,body{
  scroll-behavior: smooth;
}
body {
  font-family: "Poppins", sans-serif !important;
}

/* fw:FEYReP Website */
.fw-container {
  margin: auto;
  max-width: 1200px;
}
.fw-logo-text {
  @apply text-4xl py-3 px-1 text-gray-900 font-serif;
}
.fw-logo {
  @apply h-10 md:h-12;
}
.nav-buttons a {
  @apply px-4 py-8 hover:text-primary-200;
}
.fw-donate-btn,
.nav-buttons a {
  font-weight: 500 !important;
  text-transform: uppercase;

  font-size: 14px;
}
.fw-donate-btn,
.nav-buttons a,
.font-quicksand {
  font-family: "Quicksand", sans-serif;
}
.font-storytella{
  font-family: Storytella, sans-serif;
}
.font-bitter{
  font-family: 'Bitter', serif;
}
.fw-donate-btn {
  @apply sm:text-base transition px-6 py-3  border-primary-200 text-primary-200 border rounded-3xl hover:border-primary hover:text-primary;
}
.nav-buttons a:not(.home-btn) {
  @apply border-b-2 border-transparent hover:border-primary transition;
}
.btn {
  @apply px-6 py-4 rounded-lg  text-white uppercase tracking-wider font-semibold text-sm sm:text-base transition;
}
.btn-primary {
  @apply bg-primary-200 shadow-lg hover:bg-primary;
}
.btn-secondary {
  @apply bg-secondary-200 hover:bg-secondary;
}

.fw-header-hero {
  @apply bg-cover object-center w-screen h-auto;
}

.dropdown-trigger__item {
  position: relative;
}
.dropdown-trigger__item::after,
.dropdown-trigger__item::before {
  content: "";
  display: block;
  position: absolute;
  right: 0;
}
.dropdown-trigger__item,
.dropdown-trigger__item::after,
.dropdown-trigger__item::before {
  background: #282a43;
  height: 2px;
  -webkit-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
@media only screen and (min-width: 992px) {
  .dropdown-trigger__item,
  .dropdown-trigger__item::after,
  .dropdown-trigger__item::before {
    background: #fff;
  }
}
.dropdown-trigger__item,
.dropdown-trigger__item::before {
  width: 27px;
}
.dropdown-trigger__item::before {
  top: 7px;
}
.dropdown-trigger__item::after {
  width: 21px;
  top: 14px;
}
.hoverable-card >img{
  transform: scale(1);
  transition: all 0.5s 0.2s;
}
.hoverable-card:hover >img{
  transform: scale(1.2);
  transition: all 0.5s 0.2s;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
